.nav
   nav.navbar.navbar-inverse.navbar-fixed-top
     .container-fluid
       .navbar-header
         a.navbar-brand(href='#header_index') 
          p 鄒族的神話故事
       ul.nav.navbar-nav
          li.active
            a(href='#section_1') 一
          li
            a(href='#section_2') 二
          li
            a(href='#section_3') 三
          li
            a(href='#section_4') 四
          li
            a(href='#section_5') 五
          li
            a(href='#section_6') 六 
          li
            a(href='#section_7') 七
            


header#header_index.jumbotron

 .container
   
    h2 鄒族的神話
    p 當我們踏過阿里山的悠悠小徑，<br>晀望飄渺夢幻的雲海，<br>可曾知道，在這沃饒的土地，也有過這樣的一個故事，<br>代代傳唱......
    
section#section_1
  .container
    .row
      .col-sm-3
        img.people(src="https://lh3.googleusercontent.com/4KWu7IAn6hncWKlWKRKTzrL43JgwXEErUGpndZ0w37nXO3nGsLAZqMNwsoWyhj1dSn_DObWrFqbDHe-XdyFYmt6WM9B9lKryJv-vDPIJHHSULsnfLgvsHCgroEf8MHCtGXQWiozF2Kjdd76VC6oJqLk2O3EL4mXaylte-i7eqtXbb_yqqhnJSkgaVrXZDgS9Q6xTjK_6nLmAj8cGXhtogYNiZDWKhnOhPE0nkvN6to1BH-O2iqXgE4g84ZVO16qmkyzZ569UshZWvNYBLQtJ-Ch4ZXas5WeCdq0IRhOU3mxBIe4XdC5H2EIE-0qLzbL44pxrqo-KnIb4-52x04f5an4JUG8YWEdDfFO7W9xe10PJAIVkdBxJJThfv5FpEnwNnSErj2epaKOz9CRWykEnJMkJAAbZjBIeWf8t7ojszDoFSj7ejVBu9i5UrWpwR-Xy8-VN_-EbANlKJoLLWNgsbvrJr5WD8EoC9uwjG858oD-vaDWs1V8MyuWa_yxefPWF_dYX3-eiV7MD1qjolvmjiWGJsEqeDm5SVRlIv_705kFKOZYtzQAmiqfDiRhIY-0pev8DjRhnon5UxNDgXUAKuibJWR32NiTjNInNbDU=w606-h673-no", alt="") 
      .col-sm-6
        p 很久以前，人類用可怕的刀、箭，以及設下許多陷阱濫殺動物。<br>動物十分害怕，日夜祈求天神幫忙。<br>天神知道動物的艱難處境和人類趕盡殺絕的惡行後，<br>十分震怒，立刻召來雷神和雨神，說：<br>「人類濫殺動物，讓大地發生大洪水，雷雨一個月。」</br>
        img.pig(src="https://lh3.googleusercontent.com/GYZ8wBpnFAtHXfQc_a6sbm5Zx9j9WVQ7JAMkd2GpX1On5TOkR4Sa633dhiyO9UkoFiOnkphocoN5wdI673fSalSS1dF8OZenF71EM0Z8uG6HfXfVN6e22YewgezrPrOyxKMqOchnFsBwvu50qWAEoEKsxRi7ln7z7AQDQqln2jDoic8254uqcV_8Fwqot6xri1I31eJTT6lfuW9n1EjNem0AV1hIY36BxXl9mO7Rnvsng6ygJA1lCumOq8Cy6RxIdkWm1ZU4Su_KkeYnSqPgv1lG6ybAboVhu2IEpBH_rgMTk3Q5FC2LwjlzSn5kXXnwjuqZ-odoKJQO7-7ynUg4pJWJNuv51IVAM6MvRUBifahLji8_rCzQpO4g5qM4KcrxNfAHKLcIAUjEeyALsU6WQSOgmuUItiQKd6VLG5iIQqIiE-R797YMd2HhLj8cshglS70Mp6iBSbRSIUS4Ij2jNxFkocyERLDB_qf2cFjKIPv3lPisMdmtvua0-N-5xas6vjLuDWqhKTJARZYiIkaqoV2JkjI7uC1kj4bYQgx_x2H-BYqlwO9IHe0QWZaufuN3duZIt3tbjPoI5ONQertRJQziDW3L3lDbcQtlNxs=w401-h488-no", alt="")
      .col-sm-3
          img.bear(src="https://i.imgur.com/s3dvHSy.png", alt="")
          img.deer(src="https://lh3.googleusercontent.com/1fUPsx-n5f-KQOSMlbB_LiJuwQLekQppZmO88zQnLpfN7kpdZvdGlgyZt0xY8YcMJEieQIOSvb0otdIKb1fngdvuwbQHxeNscP3czkl8U8hMxpm-prSXo6u3XgOlxk8pWm0CdU57aKZOMIICyD1UjOALYMC2XYXy2bHgI2k_B0yUS33ZsxrgBRzTaIvKRH1c3gx4ICRWP2Tp2ZLXjDZRLsFUsWgYDjmyoBJF-qdrd6K99WFU5rTd0XEaRbjhk3bmTkFa0C1cUrkZsdG320Pedm5F7asYzJ8aAr-j3anNJuEK9egkxYKdGnO6HY8KjcO7GJTNmsv5-_pxqNvE9d2u3pd0PgmoGeaWxkByGauFL8F3sGu9akACwWtgnuju0RkJZ3iu_ssa9Z4ZM3pPouKDxkCg_BrIgkNE0Rvo21H3nnJ9671r6gLfwKwreI-mEgF8N8_yKvlqLxan0aBfF8I2UXN8truTryxZwmQxCxMF3QBbXcHY7BlgfIJ1Gv3uHF-62k_bO54d0P-JWXoOCjczUJFqZW9DSsEkgNFR4JNiSIep4bZCsh2bG2r74tBuzk1GORRElnumootXg2lRpiFj4rtowKN6YerzlmLAgfI=w343-h324-no", alt="")
section#section_2
  
  .container
    
    .row
     .col-sm-7
      img.tree(src="https://lh3.googleusercontent.com/Rv5-5iWkheIPl5IVDsbEzno_UpkWp33J8nmBnaEoJz9SXGwXFbxcqMKVbCDmduqZSCdOCid4nryDBMzVeu5CvJPYIBS3dXvWGTkaf9i_ZAqRt2iL15lkCyOv17bL85-27vzY0ruEMkE7wwUyfho8qpFRv4QaYe51aW65FOTpPhq6hpVPyIiAHFOPVsklWchzd0mLsDTr1U1E2-HkMCDTFLx5-Bc-ZopFn1xKJCqAXvW6Umo2ASqRpSShk5fkDlqCHIULuSGIBnf_BVnixPnZJEnOqtAv3fGqrn_jxbUvreDy-NCEKNNTNUu3OrCncTQQCJniD9m3L8Yfps90yv1AN8wDpBNC8mpgYxGXR6tnvv_fJp3OR2wcKmrnx4hCaoKdbvQvtP4Qdjc67Zd_9kbrViW1IRH3zq1NLqu2VvVVs_LTFi9ONVbVMNXmtqextK4buLKFO4k9kJl4PHwgYACN_VAusJYrmZo4kYDuoBUCrzulY-RrNIjg8ciCJwHcCq1nqWgtOvBWm0th6vOm191qkqlIx75zOUM3Y1kE1Q8JyUGo2hW-5DRf1_2zMC0v_ZvlQpnvFeyVJyqAW4lESBw-zj7vLgs9P501cBSRKcw=w1049-h746-no", alt="")
     .col-sm-5
        p 人們先是爬上屋頂，躲在高處，後來眼看水勢不斷上漲，只好拚命往山上跑。大雨仍然下個不停，整整下了一個月的豪雨。水勢日漸高漲，淹沒了群山，最後只剩下鄒族人爬上山頂。雨停了，洪水該慢慢消退才對。可是半個月過去了，水勢還是那麼高，洪水絲毫不退。怎麼會這樣呢？
 
         
section#section_3
  img.water(src="https://lh3.googleusercontent.com/tEdVcNvzoMpLIAqDjCIl-GU7jB_b5bwobiFbKhJedM9iWAbAoxIevbDhKpKi6zF5WJIwQ-uX6LoYLA_kz9WXr-xstfnNBIiH984Ehr7Jx3QI_8s9VQOB9eETMjLYSt7KfTUC53NG9dm8OtsJPcidQWTPYXU1Y47sv6eZDQYe6aPsdQQE8eAdLFguk0812LkK6rUFtlF5tmmGp9jMOwE_cq15TjYCGrGqzZxzljMZ0imTtQ3hqLu4qzYyp7AoBHgggaNph9D1W6qQt3d6aziePcJdDS9I_ygAV5sYRGLmh7x-bRg8ZYBIKd-FAYjmI8840JKXeC1NjWxdrc6mYC0QPaSzMgui8VpPWx-Arl9XdSjpOE49xyf-I_JigwNJHaxZBtlQWMoShUaChvX3t0-42ujA2PvK-MScXlaJRRoiRbtRg01wKRK7YrO6OSDO3oZ9NvFxVs6llazoxnM1sefVx-tB0Oh0lx8LOKe0isJKPc-YdpAV4vBpB-iinEoCZjMUzv2--vLhl2FVfQRu1Zd-4KPVXSks4OmMT-kLcz9E32R3sAf1SV_hDofswG6QBCQ-NAY2NEtH9QNmi8mzwfaar1sVAY18mwTsLxrXcBo=w1440-h259-no", alt="")
  .container
    .row
     .col-sm-3
     .col-sm-6
        p 人們先是爬上屋頂，躲在高處，後來眼看水勢不斷上漲，只好拚命往山上跑。大雨仍然下個不停，整整下了一個月的豪雨。水勢日漸高漲，淹沒了群山，最後只剩下鄒族人爬上山頂。<br>雨停了，洪水該慢慢消退才對。可是半個月過去了，水勢還是那麼高，洪水絲毫不退。怎麼會這樣呢？
     .col-sm-3

  
section#section_4
  
  .container
    .row
  
     .col-sm-6 
      p 糟糕了！有一條大的巨鰻，堵住河流下游的出水口，所以洪水無法退去。」<br>一條能堵住出水口的巨鰻，力氣一定大得驚人，不是他們能輕易應付得了。五色鳥安慰鄒族人說：<br>「我飛回來的路途中，看見有一隻大螃蟹朝山頂爬，大家如果請他幫忙，也許可以趕走巨鰻。」<br>於是，鄒族人去找大螃蟹幫忙。
     
     .col-sm-6 
       
  img.stone(src="https://lh3.googleusercontent.com/d1SroHrRulA0NDQwZhP2LP3ghVrfmKvVcTsLRYZAlV2nXATu_9b9fjUaRzu2XlVrfc0D9gQk2UccI9BLw5cpBYkamSxetLfMeelM-H0lQ_tNruo6cW9WkN7DHOGE3bj81ufp8R-uR2FVP3Wk9Cm-7z6QHioKz2sPvSPaSlk26tanQyJxbxX_05k513F0kLbjpjbEBSlfExAlirBWyTnLV3ItgMajbGc1B6h6F9jdoGX2BwqULnPxc8N9rCQYOtYDvLzW6DRU6pm91y9wm8KSlHTB1cvyhyiSPpCDP325ZB090j2s0AR3YIJ-oix_1E4RrcGyf91kelIg5rGkWcIuo3rlj_5PFAOs4Wn6X0jqdGkUAK1wfZ6DrIcBTkVFQRl41s-MT5ar7odCPGPzOgwnT50iFAuCPKki6nqnL_NgP7rFjgF63sLzSSRtqrEBY2y52KN57cgXRqaNWJsOoYM4qMPdPFLlYPAbIwihkhQdinucQqpSkmwLouO1mCtJ4c0Y4F_c7zdu4LA0Lrjx55j-WdcCcNroFAD_xfLrfzI_kCmNNPOibPm0cCZ8qeuziHIM17djrsEFmWTKCofxC2_TQeT76a2UvoBxYX_AeK4=w965-h826-no", alt="")
  img.bird(src="https://i.imgur.com/bVaZ2XU.png", alt="")

.cricle   
  img.fish(src="https://lh3.googleusercontent.com/-bWxUm6F0i1kQd2jICfRvwATa80_JBopjs2VsODK4htJJtZc2l_IuUfV_k2Em4ec_xAjtzGBrOFVckQxdY6SriqjhkmCCxeb5mLwpDl60Db5sPL7iPz3EHc1GUYO_epZ0yg7-iFaYql0lGgZuk_me5xobbBIDaIfv_YfVEs2cjyALcMOpx3abYJu1ZfIaO70W_ngulCIwMq8WIB_3SY4tlDE0d7kw5ObgX49_QvH9N95u2rnIbruns3Sso-U32TslOUxNg4vyc5aKgZMcDzTR1yLRiE19Idk3Ku68ve1zekmmOd4DNtVD4-FtApzFBMwcBTLrqffV0qiF39XlfAGxY6tBXGSxkeGKEtekWVwNr0uMR1zWco9A_K0-A3DGeJ9RihuJiZrrNn8up5f9CC7g06yQc35g1RdrjcDMTnofs8q5lqRqUwv58eh4Kwh_Gj4V66K7Jng_WuJVorb5_aQLImWbRU10F--DAJm1uxDnK1qYvwTWx34nSElBorhTO8v4Zx_OQSfaquAmZMpq52q7cZAc1y8KItKOwTQO47j6s_JF1sLbhr9HhvwPKN42RtBCiDzcwdfnNv_KNr30CiCv3ndwrFtIb2lm-aFho8=w660-h320-no", alt="")
   
section#section_5
  .container
    .row
     .col-sm-7
      
     .col-sm-5
      p 大螃蟹說：<br>「除非你們答應我，以後不再趕盡殺絕所有動物，否則我是不會答應的。」<br>鄒族人馬上答應，於是大螃蟹立刻動身向河流下游出發。
section#section_6
  .container
    .row
     .col-sm-3
     .col-sm-6
      p 大螃蟹來到出水口，果然看見一條巨鰻躺著不動。<br>大螃蟹毫不客氣，舉起巨螯就發動猛烈攻擊，只聽他痛得發出一聲慘叫，匆匆落荒而逃。<br>巨鰻走後，被堵塞的水逐漸流入大海，洪水終於消退了。
     .col-sm-3
     
section#section_7
  .container
    .row
     .col-sm-7
     .col-sm-5     